@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

.search-section::-webkit-scrollbar {
  width: 7px;
}

.search-section::-webkit-scrollbar-track {
  background: #000;
}

.search-section::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar .links a.active {
  background-color: #006988;
}

.sidebar .links a.active svg {
  color: white;
}

.sidebar .links a.active p {
  color: white;
}

.botnavbar-responsive>a.active {
  background-color: black;
}